# List of files to be ignored
!.gitignore
*.f90~
*.exe
*.inp~
*.txt~
*.dat
*.dat~
!C12.dat
!C12_n.dat
!hyperfine.dat
*.out
*.o
*.mod
*.dyn
*.cmake
*.make
*.stamp
*.internal
*.spi
*.log
Makefile2
Makefile
Doxyfile~
CITATION~
LICENSE~
README~

# List of directories to be ignored
./input/System.inp
./bin
./build
./build/CMakeFiles
./doc
./unit_test/build
./unit_test/build/CMakeFiles
./unit_test/bin
