# List of directories to be ignored
./bin
./build
./build/CMakeFiles
./doc
./unit_test/build
./unit_test/build/CMakeFiles
./unit_test/bin

# List of files to be ignored
!.gitignore
*.f90~
*.exe
*.inp~
*.txt~
*.dat
*.dat~
!unit_test/benchmark/C12.dat
!unit_test/benchmark/C12_n.dat
!unit_test/benchmark/hyperfine.dat
*.out
*.o
*.mod
*.dyn
*.cmake
*.make
*.stamp
*.internal
*.spi
*.log
Makefile2
Makefile
Doxyfile~
CITATION~
LICENSE~
README~


